.lk-icon-add {
  background: url('../../res/img/icons.png') no-repeat 0px -16px;
}

.lk-icon-add:hover {
  background: url('../../res/img/icons.png') no-repeat 0px 0px;
}

.lk-icon-cut {
  background: url('../../res/img/icons.png') no-repeat -16px -16px;
}

.lk-icon-cut:hover {
  background: url('../../res/img/icons.png') no-repeat -16px 0px;
}

.lk-icon-remove {
  background: url('../../res/img/icons.png') no-repeat -32px -16px;
}

.lk-icon-remove:hover {
  background: url('../../res/img/icons.png') no-repeat -32px 0px;
}

.lk-icon-edit {
  background: url('../../res/img/icons.png') no-repeat -48px -16px;
}

.lk-icon-edit:hover {
  background: url('../../res/img/icons.png') no-repeat -48px 0px;
}

.lk-icon-search {
  background: url('../../res/img/icons.png') no-repeat -64px -16px;
}

.lk-icon-search:hover {
  background: url('../../res/img/icons.png') no-repeat -64px 0px;
}

.lk-icon-reset {
  background: url('../../res/img/icons.png') no-repeat -80px -16px;
}

.lk-icon-reset:hover {
  background: url('../../res/img/icons.png') no-repeat -80px 0px;
}

.lk-icon-disable {
  background: url('../../res/img/icons.png') no-repeat -96px -16px;
}

.lk-icon-disable:hover {
  background: url('../../res/img/icons.png') no-repeat -96px 0px;
}

.lk-icon-enable {
  background: url('../../res/img/icons.png') no-repeat -112px -16px;
}

.lk-icon-enable:hover {
  background: url('../../res/img/icons.png') no-repeat -112px 0px;
}

.lk-icon-user {
  background: url('../../res/img/icons.png') no-repeat -128px -16px;
}

.lk-icon-user:hover {
  background: url('../../res/img/icons.png') no-repeat -128px 0px;
}

.lk-icon-exit {
  background: url('../../res/img/icons.png') no-repeat -144px -16px;
}

.lk-icon-exit:hover {
  background: url('../../res/img/icons.png') no-repeat -144px 0px;
}

.lk-icon-pwd {
  background: url('../../res/img/icons.png') no-repeat -160px -16px;
}

.lk-icon-pwd:hover {
  background: url('../../res/img/icons.png') no-repeat -160px 0px;
}

.lk-icon-refresh {
  background: url('../../res/img/icons.png') no-repeat -176px -16px;
}

.lk-icon-refresh:hover {
  background: url('../../res/img/icons.png') no-repeat -176px 0px;
}

.lk-icon-ok {
  background: url('../../res/img/icons.png') no-repeat -192px -16px;
}

.lk-icon-ok:hover {
  background: url('../../res/img/icons.png') no-repeat -192px 0px;
}

.lk-icon-cancel {
  background: url('../../res/img/icons.png') no-repeat -208px -16px;
}

.lk-icon-cancel:hover {
  background: url('../../res/img/icons.png') no-repeat -208px 0px;
}

.lk-icon-refresh-min {
  background: url('../../res/img/icons.png') no-repeat -224px -16px;
}

.lk-icon-refresh-min:hover {
  background: url('../../res/img/icons.png') no-repeat -224px 0px;
}

.lk-icon-close-min {
  background: url('../../res/img/icons.png') no-repeat -240px -16px;
}

.lk-icon-close-min:hover {
  background: url('../../res/img/icons.png') no-repeat -240px 0px;
}

.lk-icon-close {
  background: url('../../res/img/icons.png') no-repeat -256px -16px;
}

.lk-icon-close:hover {
  background: url('../../res/img/icons.png') no-repeat -256px 0px;
}

.lk-icon-close-left {
  background: url('../../res/img/icons.png') no-repeat -272px -16px;
}

.lk-icon-close-left:hover {
  background: url('../../res/img/icons.png') no-repeat -272px 0px;
}

.lk-icon-close-right {
  background: url('../../res/img/icons.png') no-repeat -288px -16px;
}

.lk-icon-close-right:hover {
  background: url('../../res/img/icons.png') no-repeat -288px 0px;
}

.lk-icon-close-other {
  background: url('../../res/img/icons.png') no-repeat -304px -16px;
}

.lk-icon-close-other:hover {
  background: url('../../res/img/icons.png') no-repeat -304px 0px;
}

.lk-icon-close-all {
  background: url('../../res/img/icons.png') no-repeat -320px -16px;
}

.lk-icon-close-all:hover {
  background: url('../../res/img/icons.png') no-repeat -320px 0px;
}

.lk-icon-help {
  background: url('../../res/img/icons.png') no-repeat -336px -16px;
}

.lk-icon-help:hover {
  background: url('../../res/img/icons.png') no-repeat -336px 0px;
}

.lk-icon-selector {
  background: url('../../res/img/icons.png') no-repeat -352px -16px;
}

.lk-icon-selector:hover {
  background: url('../../res/img/icons.png') no-repeat -352px 0px;
}