.WdateDiv {
  width: 220px;
  background-color: #fff;
  border: #87B3DA 1px solid;
  padding: 2px;
  margin-left: 1px;
  border-radius: 3px;
}

.WdateDiv2 {
  width: 360px;
}

.WdateDiv * {
  font-size: 9pt;
}

.WdateDiv .NavImg a {
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
}

.WdateDiv .NavImgll a {
  float: left;
  background-image: url(navLeft.gif);
  margin-left: 20px;
}

.WdateDiv .NavImgl a {
  float: left;
  background: url(left.gif);
  margin-left: 8px;
}

.WdateDiv .NavImgr a {
  float: right;
  background-image: url(right.gif);
  margin-right: 8px;
}

.WdateDiv .NavImgrr a {
  float: right;
  background-image: url(navRight.gif);
  margin-right: 20px;
}

.WdateDiv #dpTitle {
  height: 24px;
  background: #428bca;
  padding-top: 2px;
  margin-bottom: 2px;
}

.WdateDiv .yminput {
  margin-top: 2px;
  text-align: center;
  border: 0px;
  height: 16px;
  width: 50px;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  font-family: 隶书;
}

.WdateDiv .yminputfocus {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  color: #195184;
  border: #939393 1px solid;
  height: 16px;
  width: 50px;
}

.WdateDiv .menuSel {
  z-index: 1;
  position: absolute;
  background-color: #FFFFFF;
  border: #A3C6C8 1px solid;
  display: none;
}

.WdateDiv .menu {
  cursor: pointer;
  background-color: #fff;
  color: #3C82C0;
}

.WdateDiv .menuOn {
  cursor: pointer;
  background-color: #B5CEE8;
}

.WdateDiv .invalidMenu {
  color: #aaa;
}

.WdateDiv .YMenu {
  margin-top: 16px;
}

.WdateDiv .MMenu {
  margin-top: 16px;
  *width: 62px;
}

.WdateDiv .hhMenu {
  margin-top: -86px;
  margin-left: 26px;
}

.WdateDiv .mmMenu {
  margin-top: -44px;
  margin-left: 26px;
}

.WdateDiv .ssMenu {
  margin-top: -23px;
  margin-left: 26px;
}

.WdateDiv .Wweek {
  text-align: center;
  background: #B7C9FD;
  border-right: #BDEBEE 1px solid;
}

.WdateDiv .MTitle {
  color: #ffffff;
  background-color: #428bca;
}

.WdateDiv .WdayTable {
  line-height: 20px;
  color: #3C82C0;
}

.WdateDiv .Wday {
  cursor: pointer;
}

.WdateDiv .WdayOn {
  cursor: pointer;
  color: #FFF;
  background-color: #4A88C5;
}

.WdateDiv .Wwday {
  cursor: pointer;
  color: #D01214;
}

.WdateDiv .WwdayOn {
  cursor: pointer;
  color: #FEA7A3;
  background-color: #4A88C5;
}

.WdateDiv .Wtoday {
  cursor: pointer;
  color: #65933C;
}

.WdateDiv .Wselday {
  color: #FFF;
  background-color: #87B0DA;
}

.WdateDiv .WspecialDay {
  background-color: #66F4DF;
}

.WdateDiv .WotherDay {
  cursor: pointer;
  color: #B5CEE8;
}

.WdateDiv .WotherDayOn {
  cursor: pointer;
  background-color: #87B0DA;
}

.WdateDiv .WinvalidDay {
  color: rgba(158, 158, 158, 0.22);
  background: rgba(66, 139, 202, 0.11);
}

.WdateDiv #dpTime {
  
}

.WdateDiv #dpTime #dpTimeStr {
  margin-left: 1px;
  color: #3C81C2;
}

.WdateDiv #dpTime input {
  height: 16px;
  width: 18px;
  text-align: center;
  color: #333;
  border: #3C81C2 1px solid;
}

.WdateDiv #dpTime .tB {
  border-right: 0px;
}

.WdateDiv #dpTime .tE {
  border-left: 0;
  border-right: 0;
}

.WdateDiv #dpTime .tm {
  width: 7px;
  border-left: 0;
  border-right: 0;
}

.WdateDiv #dpTime #dpTimeUp {
  height: 10px;
  width: 13px;
  border: 0px;
  background-image: url(up.jpg);
}

.WdateDiv #dpTime #dpTimeDown {
  height: 10px;
  width: 13px;
  border: 0px;
  background-image: url(down.jpg);
}

.WdateDiv #dpQS {
  float: left;
  margin-right: 3px;
  margin-top: 2px;
  background-image: url(qs.png);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.WdateDiv #dpControl {
  text-align: right;
  margin-top: 3px;
}

.WdateDiv .dpButton {
  height: 18px;
  width: 45px;
  border: 1px solid #ffffff;
  padding-top: 0px;
  background: #428bca;
  color: #FFF;
  font-family: 隶书;
  cursor: pointer;
}

.WdayTable td {
  text-align: center;
  font-family: 隶书;
}