* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: #000000;
  font-size: 12px;
}

table {
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}

table thead tr {
  height: 30px;
  background-color: #EFEFEF;
}

table th, td {
  border: 1px solid #CCCCCC;
  text-align: center;
}

select {
  width: 208px;
  height: 24px;
  border: 1px solid #95B8E7;
  border-radius: 5px;
}

input {
  width: 208px;
  height: 22px;
  border: 1px solid #95B8E7;
  border-radius: 3px;
  padding: 3px 8px 3px 8px;
}

input[type="radio"] {
  width: 22px;
  height: 12px;
}

textarea {
  resize: none;
  width: 208px;
  line-height: 22px;
  height: 66px;
  border: 1px solid #95B8E7;
  border-radius: 3px;
  padding: 3px 8px 3px 8px;
}

ul, ol, li, dl {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 5px;
}

.lk-form-fields {
  width: 100%;
  overflow: hidden;
  padding-top: 3px;
}

.lk-form-fields .lk-form-field {
  float: left;
  width: 333px;
  min-height: 60px;
  margin-left: 6px;
}

.lk-form-fields .lk-form-field .lk-form-field-key {
  float: left;
  width: 100px;
  text-align: right;
  padding-top: 10px;
}

.lk-form-fields .lk-form-field .lk-form-field-value {
  float: left;
  width: 233px;
  padding-top: 3px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-field-value-text {
  line-height: 29px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .combo-arrow {
  height: 24px !important;
  background-color: #70a8d7;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.lk-form-fields .lk-form-field-with-textarea {
  min-height: 104px;
}

.lk-form-fields .lk-form-field-with-tree {
  min-height: 420px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .form-filed-value-tree {
  width: 218px;
  height: 380px;
  overflow: auto;
  border: 1px solid #95B8E7;
  border-radius: 3px;
  padding: 4px 3px 3px 3px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-filed-value-tree-invalid {
  background-color: #fff3f3;
  border-color: #ffa8a8;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-filed-value-tree-checkbox {
  padding-left: 16px;
  padding-top: 4px;
  height: 24px;
  line-height: 18px;
  cursor: pointer;
  border-bottom: 1px solid #95b8e7;
  height: 24px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-filed-value-tree-checkbox:hover {
  background: #428bca;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-filed-value-tree-checkbox:hover .tree-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-filed-value-tree-invalid .lk-form-filed-value-tree-checkbox {
  border-bottom-color: #ffa8a8;
}

.lk-form-fields .lk-form-field-error-message {
  float: left;
  margin-left: 100px;
  width: 226px;
  line-height: 26px;
  color: #b85c55;
}

.lk-form-fields .lk-form-field-with-btn {
  float: left;
  margin-top: 3px;
  height: 116px !important;
}

.lk-form-fields .lk-form-field-with-btn a {
  margin-top: 3px;
  height: 28px;
}

.lk-form-fields .lk-form-field-with-btn a .lk-icon-selector {
  margin-top: -6px;
  width: 28px;
  left: -2px;
  background: url('../../res/img/selector.png') no-repeat center center;
}

.lk-form-fields .lk-form-field-with-btn a .lk-icon-selector:hover {
  background: url('../../res/img/selector.png') no-repeat center center;
}

.lk-form-fields .lk-form-field-with-btn .lk-form-field-value {
  width: 185px;
}

.lk-form-fields .lk-form-field-with-btn .lk-form-field-value input {
  width: 66px;
}

.lk-form-fields .lk-form-field-with-btn .lk-form-field-value textarea {
  width: 166px !important;
}

.lk-form-fields .lk-form-field-with-btn .lk-form-field-error-message {
  margin-left: 0px;
}

.lk-form-fields .lk-form-field-with-editor {
  width: 666px;
  min-height: 440px;
  overflow: auto;
}

.lk-form-fields .lk-form-field-with-editor .lk-form-field-value {
  width: 566px;
}

.lk-form-fields .lk-form-field-with-editor .lk-form-field-value .ke-container {
  width: 560px;
  border: 1px solid #95B8E7;
  border-radius: 3px;
}

.lk-form-fields .lk-form-field-with-editor .lk-form-field-value .ke-container .ke-statusbar {
  background-color: #95b8e7;
  border-top: 1px solid #95b8e7;
}

.lk-form-fields .lk-form-field-with-editor .lk-form-field-value .ke-container .ke-toolbar {
  border-bottom: 1px solid #95b8e7;
  background-color: #ffffff;
}

.lk-form-fields .lk-form-field-with-editor .lk-form-field-value .ke-container .ke-toolbar .ke-outline {
  border: none;
}

.lk-form-fields .lk-form-field .lk-form-field-value .textbox {
  height: 22px !important;
}

.lk-form-fields .lk-form-field .lk-form-field-value .textbox .spinner-arrow {
  height: 28px !important;
  background-color: #70a8d7;
}

.lk-form-fields .lk-form-field-value-with-radio ul {
  line-height: 26px;
}

.lk-form-fields .lk-form-field-value-with-radio ul li {
  float: left;
}

.lk-form-fields .lk-form-field-value-with-radio ul li input[type="radio"] {
  margin-top: 8px;
}

.lk-form-fields .lk-form-field .lk-form-field-value .lk-form-field-file {
  background: #ffffff url(../../res/img/selector.png) no-repeat right;
  cursor: pointer;
  width: 186px;
  padding-right: 30px;
}

.lk-search-form-fields {
  width: 100%;
  overflow: hidden;
  padding-top: 3px;
}

.lk-search-form-fields .lk-form-field {
  float: left;
  width: 333px;
  height: 36px;
  margin-left: 6px;
}

.lk-search-form-fields .lk-form-field .lk-form-field-key {
  float: left;
  width: 100px;
  text-align: right;
  padding-top: 10px;
}

.lk-search-form-fields .lk-form-field .lk-form-field-value {
  float: left;
  width: 233px;
  padding-top: 3px;
}

.lk-search-form-fields .lk-form-field .lk-form-field-value .combo-arrow {
  height: 24px !important;
  background-color: #70a8d7;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.lk-search-form-fields .lk-form-field .lk-form-field-value .lk-fuzzy-left {
  border-left: 1px solid #ff00ff;
}

.lk-search-form-fields .lk-form-field .lk-form-field-value .lk-fuzzy-right {
  border-right: 1px solid #ff00ff;
}

.lk-search-form-fields .lk-form-field-with-dates .lk-form-field-value input.Wdate {
  width: 83px;
}

.lk-btn-bar {
  width: 100%;
  height: 28px;
  padding-top: 2px;
  text-align: center;
  background-color: #F4F4F4;
  border-bottom: 1px solid #DDDDDD;
}

.lk-btn {
  height: 24px;
  line-height: 24px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  color: #444444;
  background-color: #F6F6F6;
}

.lk-btn-red {
  background-color: #FFCFCF;
}

.lk-btn-green {
  background-color: #CFFFCF;
}

.lk-btn-blue {
  background-color: #CFCFFF;
}

.lk-btn:HOVER {
  border: 1px solid #B7D2FF;
  background-color: #EAF2FF;
  color: #000000;
}

#lk-loading-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 333333;
  background-color: #000000;
  filter: alpha(opacity = 33);
  -moz-opacity: 0.33;
  -khtml-opacity: 0.33;
  opacity: 0.33;
}

#lk-loading-img {
  position: fixed;
  width: 50px;
  height: 50px;
}

#lk-loading-info {
  position: fixed;
  margin-top: 5px;
  left: 0px;
  text-align: center;
  color: #858585;
  font-size: 16px;
  font-weight: bold;
  font-family: '微软雅黑';
}

.lk-box {
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #DFDFDF;
}

.lk-box-radis {
  border-radius: 8px;
}

.lk-box-success {
  background-color: #dff0d8;
  padding: 10px;
}

.lk-box-info {
  background-color: #d9edf7;
  padding: 10px;
}

.lk-box-warn {
  background-color: #fcf8e3;
  padding: 10px;
}

.lk-box-danger {
  background-color: #f2dede;
  padding: 10px;
}

.lk-box-primary {
  background-color: #337ab7;
  padding: 10px;
}

.lk-nav {
  list-style: none;
}

.lk-nav li {
  float: left;
  margin-left: 10px;
}